/*--------general---------*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 100px;
    padding-bottom: 5%;
    position: relative;
    min-height: 100%;
}

h2, h3 {
    font-family: 'Nunito', sans-serif;
    color: #507e9a;
}

p {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.img-circle {
    border-radius: 50%;
}

.divider {
    display: inline-block;
    min-width: 100px;
}



/*-------Header.js-----------*/
.navbar-brand {
    height: 100%;
    padding: 0;
}

.navbar.navbar-inverse{
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    background-color:#ecf7fd;
    border:#ecf7fd;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-weight: bold;
}

.navbar-right {
    margin-top: 30px;
    font-size: 18px;
}

.nav-up {
    top: -40px;
    opacity: 0;
}

#navbarSelfie {
    margin: 5px;
    height: 90px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav li a:hover {
    color: #507e9a;
    background-color: transparent;
}

.collapse.in {
    background-color: #bbe4f9;
}

/*----------Footer.js-------------*/
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 2%;
    background-color: #ecf7fd;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 480px){
    #footer { 
        display : none; 
        visibility : hidden; 
    }
}

/*---------HomePage.js----------*/
h1 {
    font-family: 'Handlee', cursive;
}

#homePageTitle {
    padding-top: 80px;
    padding-bottom: 420px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: #ecf7fd;
    background-image: url("http://res.cloudinary.com/dla0ocfbw/image/upload/v1500580356/personalWebsite/Screen_Shot_2017-07-20_at_12.50.45_PM.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    color: #507e9a;
}

#homePageTitle p {
    font-size: 20px;
}

#homePageSelfie {
    max-height: 200px;
    display: block;
    margin: auto;
}

#overview {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}


#projectIntroImg {
    display: block;
    margin: auto;
    max-height: 200px;
}

/*---------ProjectPage.js------------*/
.projects {
    text-align: center;
    margin: 0;
    padding: 5%;
    color: white;
}

#projectIntro {
    padding-top: 10%;
    padding-bottom: 15%;
    text-align: center;
}

.projects img {
    width:40%;
    border: white solid 5px;
    border-radius: 5px;
}

.projects .projectTech {
    font-size: 18px;
}

#pcs4kids-gamedeveloper {
    background-color: #f9f89f;
    color: #284764
}

#kicktasks {
    background-color: #fa5b6d;
    color: #ecefea;
}

#kicktasks h3 {
    color: white;
}

#gomokugame {
    background-color: #fbcaab;
    color: #284764
}

#iiaas {
    background-color: #94c1e8;
    color: #ecefea;    
}

#iiaas h3 {
    color: white;
}

#battleshipgame {
    background-color:#c3f7e6;
    color: #b55683
}

#battleshipgame h3 {
    color: #ce6396
}

#battleshipgame img {
    width: 20%;
}

#ecoation-softwareengineerintern {
    background-color: #94c1e8;
    color: #ecefea
}

#ecoation-softwareengineerintern h3{
    color: 	white
}

#ecoation-softwareengineerintern img {
    width: 20%;
}

/*----------------PassionPage.js----------*/
#passionIntro img {
    width: 30%
}

#passionIntro {
    text-align: center;
    margin-top: 20px;
}

.passionItems img {
    max-width: 100%;
    height: auto;
    width: 30%;
    margin: auto;
    /*width: 20%;
    min-width: 170px;
    */
}

.passionItems{
    margin-top: 100px;
    text-align: center;
}

#passionComp {
    margin-bottom: 5%;
}

@media (max-width: 480px){
    #passionPage {
        margin: 15px;
    }
}
/*-------------ContactPage.js----------*/
#contactIcon img{
    width: 60%;    
}

#contactPageTitle {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#contactIcon {
    text-align: center;
    margin-bottom: 16%;
}

@media (max-width: 480px){
    #contactPageTitle { 
        margin-top: 30%;
    }
}