/*--------general---------*/
.img-circle {
    border-radius: 50%;
}

.divider {
    display: inline-block;
    min-width: 100px;
}

/*-------App.js-----------*/
.navbar-brand {
    min-height: 100px;
}

.navbar.navbar-inverse{
    margin-bottom: 0;
    background-color:#edded9;
    border:#edded9;
}

.navbar-right {
    margin-top: 30px;
    font-size: 18px;
}

/*---------HomePage.js----------*/
#homePageTitle {
    padding-top: 100px;
    padding-bottom: 420px;
    text-align: center;
    background-size: cover;
    background: url("http://res.cloudinary.com/dla0ocfbw/image/upload/v1500418909/personalWebsite/Screen_Shot_2017-07-18_at_4.01.09_PM.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#homePageSelfie {
    max-height: 200px;
    display: block;
    margin: auto;
}

#overview {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}

#footer {
    text-align: center;
    min-height: 50px;
    background-color: #edded9;
}

#projectIntroImg {
    display: block;
    margin: auto;
    max-height: 200px;
}

/*---------ProjectPage.js------------*/
#projectIntro {
    padding: 100px;
    text-align: center;
}

.projects img {
    width:40%;
    border: white solid 5px;
    border-radius: 5px;
}

.projects .projectTech {
    font-size: 18px;
}
.projects {
    text-align: center;
    margin-bottom: 100px;
}

/*----------------PassionPage.js----------*/
#passionIntro img {
    width: 30%
}

#passionIntro {
    text-align: center;
}

.passionItems img {
    width: 20%;
    min-width: 170px;
}

.passionItems{
    margin-top: 100px;
    text-align: center;
}

#passionComp {
    margin-bottom: 5%;
}

/*-------------ContactPage.js----------*/
#contactIcon img{
    width: 60%;    
}

#contactPageTitle {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#contactIcon {
    text-align: center;
    margin-bottom: 15%;
}